@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
      font-family: "Roboto", sans-serif;
}
p{
      font-family: "Heebo", sans-serif;
}

img{
    width: 100%;
}

.container{
    width: 1080px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    box-shadow: 1px 2px 10px #80808033;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 20px;
}
.nav-link{
    font-size: 14px;
    color: #27272a;
    transition: 0.3s;
}
.nav-link:hover{
    color: #14b8a6;
}


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}
.banner-col-left{
    flex-basis: 50%;
}

.banner-col-left img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.banner-heading{
    font-size: 45px;
    color: #27272a;
    line-height: 1.1;
    margin-top: 25px;
}
.banner-text{
    font-size: 16px;
    color: #65656d;
    margin-top: 25px;
    padding-top: 10px;
}
.icons{
    margin-top: 30px;
}
.icon{
    font-size: 25px;
    color: #65656d;
    margin-right: 10px;
    transition: 0.3s;
}
.icon:hover{
    color: #14b8a6;
}

.banner-col-right{
    flex-basis: 50%;
    text-align: right;
}
.banner-col-right img{
    width: 380px;
    border-radius: 40px;
}


.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 18px;
}

.project{
    padding: 30px;
    cursor: pointer;
    border-radius: 15px;
}
.project:hover{
    background: #fafafa;
}
.project:hover .project-title{
    color: #27272a;
}
.project:hover .project-desc{
    color: #27272a;
}
.project:hover .project-link{
    color: #14b8a6;
    transition: 0.3s;
}
.project-icon{
    width: 30px;
}
.project-title{
    color: #65656d;
    font-size: 16px;
    font-weight: 700;
    margin-top: 1rem;
    padding-bottom: 15px;
}
.project-desc{
    font-size: 16px;
    color: #74747b;
    padding-bottom: 15px;
}
.project-links{
    display: flex;
}
.project-link{
    font-size: 13px;
    margin-right: 10px;
    color: #65656d;
    font-weight: 700;
}